@model CST451.Models.ViewModels.Checkout.CheckoutModel

@{
    ViewData["Title"] = "ProcessCheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProcessCheckout</h1>

<div>
    <h4>CheckoutModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="CustomerShippingInfo">Ship To:</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerShippingInfo.Name)
            <div>
                @Html.DisplayFor(model => model.CustomerShippingInfo.Address)
            </div>
            <div>
                @Html.DisplayFor(model => model.CustomerShippingInfo.City)
            </div>
            <div>
                @Html.DisplayFor(model => model.CustomerShippingInfo.State)
            </div>
            <div>
                @Html.DisplayFor(model => model.CustomerShippingInfo.Zip)
            </div>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CustomerBillingInfo">Bill To:</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerBillingInfo.Name)
            <div>
                @Html.DisplayFor(model => model.CustomerBillingInfo.Address)
            </div>
            <div>
                @Html.DisplayFor(model => model.CustomerBillingInfo.City)
            </div>
            <div>
                @Html.DisplayFor(model => model.CustomerBillingInfo.State)
            </div>
            <div>
                @Html.DisplayFor(model => model.CustomerBillingInfo.Zip)
            </div>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Order">Order ID:</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Success)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Success)
        </dd>
    </dl>
</div>
